<main>
    <h2>Aggiungi utente</h2>
    <div>
        <input type="email" [(ngModel)]="email" placeholder="email">
        <input type="password" [(ngModel)]="password" placeholder="password">
        <button (click)="addUser()">Aggiungi Utente</button>
    </div>

    <h2>Modifica utente</h2>
    <div>
        <input type="number" [(ngModel)]="id" placeholder="id">
        <input type="email" [(ngModel)]="email" placeholder="email">
        <input type="password" [(ngModel)]="password" placeholder="password">
        <button (click)="updateUser()">Modifica Utente</button>
        <br>

        <input type="checkbox" id="componenteA" name="componenteA" value="componenteA"
            (mouseup)="editRole('componenteA')">
        <label for="componenteA"> componenteA</label>

        <input type="checkbox" id="componenteB" name="componenteB" value="componenteB"
            (mouseup)="editRole('componenteB')">
        <label for="componenteB"> componenteB</label>

        <input type="checkbox" id="componenteC" name="componenteC" value="componenteC"
            (mouseup)="editRole('componenteC')">
        <label for="componenteC"> componenteC</label>
    </div>

    <h2>Cancella utente</h2>
    <div>
        <input type="number" [(ngModel)]="id" placeholder="id">
        <button (click)="deleteUser()">Cancella Utente</button>
    </div>
</main>

<h3>Componenti da visualizzare in base ai permessi</h3>
<!-- Inserire nome specifico del componente -->
<app-componente-a *ngIf="test('componenteA')"></app-componente-a>
<app-componente-b *ngIf="test('componenteB')"></app-componente-b>
<app-componente-c *ngIf="test('componenteC')"></app-componente-c>

<h3 *ngIf="error">Errore: {{errorMessage}}</h3>