<main class="w-5/6 h-[78vh] flex flex-row justify-around items-center mx-auto gap-4 my-2">
    <div class="w-1/3 h-full rounded-md p-4 bg-blue-400">
        <h1 class="m-4 text-white">Segnalazioni Getico - Sopralluogo</h1>

        <canvas baseChart class="chart" [data]="pieChartDataSopralluoghi" [type]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins">
        </canvas>
        <div class="mt-1 text-white">
            <h2>LEGENDA</h2>
            <ul class="flex flex-col">
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-pink-500 text-2xl pb-1">&#9679;</h5>
                        <h5>Sopralluogo Effettuato</h5>
                    </div>
                    <div>{{sopralluogoEffettuato}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-blue-500 text-2xl pb-1">&#9679;</h5>
                        <h5>Sopralluogo non Effettuato</h5>
                    </div>
                    <div>{{sopralluogoNonEffettuato}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-yellow-500 text-2xl pb-1">&#9679;</h5>
                        <h5>Sopralluogo non Richiesto</h5>
                    </div>
                    <div>{{sopralluogoNonRichiesto}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-yellow-500 text-2xl pb-1">&nbsp;</h5>
                        <h5>&nbsp;</h5>
                    </div>
                    <div>&nbsp;</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-1/3 h-full rounded-md p-4 bg-blue-400">
        <h1 class="m-4 text-white">Segnalazioni Getico - Stato</h1>
        <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
        </canvas>
        <div class="mt-1 text-white">
            <h2>LEGENDA</h2>
            <ul class="flex flex-col">
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-pink-500 text-2xl pb-1">&#9679;</h5>
                        <h5>NC - Non di Competenza</h5>
                    </div>
                    <div>{{NC}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-blue-500 text-2xl pb-1">&#9679;</h5>
                        <h5>DV - Da Valutare</h5>
                    </div>
                    <div>{{DV}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-yellow-500 text-2xl pb-1">&#9679;</h5>
                        <h5>IM - Importati</h5>
                    </div>
                    <div>{{IM}}</div>
                </li>
                <li class="flex flex-row justify-between items-center">
                    <div class="flex flex-row justify-start items-center gap-1">
                        <h5 class="text-slate-500 text-2xl pb-1">&#9679;</h5>
                        <h5>IN - Inoltrati</h5>
                    </div>
                    <div>{{IN}}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-1/3 h-full rounded-md p-4 bg-blue-400">
        <div class="bg-slate-600 rounded-md p-2 mb-20">
            <h1 class=" text-white">Segnalazioni Getico</h1>
            <h2 class=" text-white">Pervenute il: {{lastGeticoTime | date: 'dd/MM/YY'}}</h2>
        </div>

        <h3 class="mb-2">TIPOLOGIA</h3>
        <ul>
            <li *ngFor="let getico of lastGetico" class="py-1 my-8 text-white border-t-[1px] border-slate-100">
                {{getico}}
            </li>
        </ul>
    </div>
</main>