<main class="h-[90vh]">

    <div class="h-[25vh] bg-blue-300 p-10 m-6 rounded-md">
        <input class="p-2 rounded-md mx-1" type="email" [(ngModel)]="email" placeholder="email">
        <input class="p-2 rounded-md mx-1" type="password" [(ngModel)]="password" placeholder="password">
        <br>
        <button class="my-2 p-2 bg-blue-500 rounded-md text-white hover:bg-blue-200" (click)="addUser()">Aggiungi
            Utente</button>
    </div>

    <div class="h-[25vh] bg-blue-300 p-10 m-6 rounded-md">
        <input class="rounded-md mx-1 w-10 h-10 text-center" type="number" [(ngModel)]="id" placeholder="id">
        <input class="p-2 rounded-md mx-1" type="email" [(ngModel)]="email" placeholder="email">
        <input class="p-2 rounded-md mx-1" type="password" [(ngModel)]="password" placeholder="password">
        <br>
        <button class="my-2 p-2 bg-blue-500 rounded-md text-white hover:bg-blue-200" (click)="updateUser()">Modifica
            Utente</button>
    </div>

    <div class="h-[25vh] bg-blue-300 p-10 m-6 rounded-md">
        <input class="rounded-md mx-1 w-10 h-10 text-center" type="number" [(ngModel)]="id" placeholder="id">
        <input class="p-2 rounded-md mx-1" type="email" [(ngModel)]="email" placeholder="email">
        <input class="p-2 rounded-md mx-1" type="password" [(ngModel)]="password" placeholder="password">
        <br>
        <button class="my-2 p-2 bg-blue-500 rounded-md text-white hover:bg-blue-200" (click)="deleteUser()">Cancella
            Utente</button>
    </div>

</main>

<h3 *ngIf="error">Errore: {{errorMessage}}</h3>